<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aldentea.StandingMutus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StandingMutus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Aldentea.StandingMutus.Properties.Settings>
            <setting name="FileHistoryCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FileHistoryDisplayCount" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="RequireUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowRect" serializeAs="String">
                <value>0,0,800,640</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SongPlayerVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Aldentea.StandingMutus.Properties.Settings>
        <StandingMutus.Properties.Settings>
            <setting name="FileHistoryCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FileHistoryDisplayCount" serializeAs="String">
                <value>18</value>
            </setting>
        </StandingMutus.Properties.Settings>
    </userSettings>
</configuration>